---
const { title, content, href, className } = Astro.props;
---
<a href={href}>
  <div class=`p-3 bg-highlight rounded-xl text-background m-2 ${className}`>
    <h3 class="font-extrabold mb-2">{ title }</h3>
    <p class="">{ content }</p>
  </div>
</a>