---
---
<nav class="flex justify-between m-4">
  <h1 class="text-whi font-bold text-xl">Gabriel Suazo</h1>
  <ul class="inline">
    <li class="inline p-2">
      <a href="/">Home</a>
    </li>
    <li class="inline p-2">
      <a href="/projects">Projects</a>
    </li>
    <li class="inline p-2">
      <a href="/blog">Blog</a>
    </li>
    <li class="inline p-2">
      <a href="/contact">Contact</a>
    </li>
  </ul>
</nav>